.clear:after{
	content: "";
	display: block;
	clear: both;
}
.content{
	width: 1200px;
	height: 2050px;
	margin: 0 auto;
	overflow: hidden;
}
.content1{
	width: 960px;
	height: 2280px;
	margin: 0 auto;
	margin-top: 30px;
}
.content1-d{
	width: 960px;
	height: 301px;
}
.content1-d-d1{
	position: absolute;
	float: left;
	z-index: 10;
}
.content1-d-ul{
	float: right;
	top: 13px;
	right: 0;
	list-style: none;
}
.content1-d-ul .li1{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px 0px;
    margin-left: 15px;
}
.content1-d-ul .li2{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -59px 0px;
    margin-left: 15px;
}
.content1-d-ul .li3{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -113px 0px;
    margin-left: 15px;
}
.content1-d-ul .li4{
	float: left;
    width: 150px;
    height: 38px;
    background: url(../img/qsyw2.png) no-repeat 0px -237px;
}
.content1-d-ul .li4 strong{
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	margin-left: 15px;
}
.content1-d-ul .li4 span{
	display: none;
}
.content1-d-d2{
	position: relative;
	margin-top: 45px;
	margin-left: 443px;
	float: right;
	right: 0px;
	width: 517px;
	height: 244px;
	background: #fff;
	z-index: 20;
}
.content1-d-d2 p{
	margin-left: 47px;
	margin-top: 20px;
    word-break: break-word;
    line-height: 20px;
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 10px;
}







.content2-d{
	margin-top: 107px;
	width: 960px;
	height: 301px;
}
.content2-d-d1{
	/*position: absolute;*/
	float: right;
	/*z-index: 10;*/
}
.content2-d-ul{
	float: left;
	top: 13px;
	list-style: none;
}
.content2-d-ul .li1{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px 0px;
    margin-left: 15px;
}
.content2-d-ul .li2{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -113px -50px;
    margin-left: 15px;
}
.content2-d-ul .li3{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px -50px;
    margin-left: 15px;
}
.content2-d-ul .li4{
	float: left;
    width: 155px;
    height: 38px;
    background: url(../img/qsyw2.png) no-repeat 0px -282px;
}
.content2-d-ul .li4 strong{
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	margin-left: 15px;
}
.content2-d-ul .li4 span{
	display: none;
}
.content2-d-d2{
	position: relative;
	float: left;
	margin-top: -200px;
	width: 517px;
	height: 244px;
	background: #fff;
	z-index: 20;
}
.content2-d-d2 p{
	margin-right: 47px;
	margin-top: 20px;
    word-break: break-word;
    line-height: 20px;
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 10px;
}


.content3-d{
	margin-top: 107px;
	width: 960px;
	height: 301px;
}
.content3-d-d1{
	position: absolute;
	float: left;
	z-index: 10;
}
.content3-d-ul{
	float: right;
	top: 13px;
	right: 0;
	list-style: none;
}
.content3-d-ul .li1{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px -98px;
    margin-left: 15px;
}
.content3-d-ul .li2{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -59px -98px;
    margin-left: 15px;
}
.content3-d-ul .li3{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -113px -98px;
    margin-left: 15px;
}
.content3-d-ul .li4{
	float: left;
    width: 150px;
    height: 38px;
    background: url(../img/qsyw2.png) no-repeat 0px -237px;
}
.content3-d-ul .li4 strong{
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	margin-left: 15px;
}
.content3-d-ul .li4 span{
	display: none;
}




.content4-d{
	margin-top: 107px;
	width: 960px;
	height: 301px;
}
.content4-d-d1{
	/*position: absolute;*/
	float: right;
	/*z-index: 10;*/
}
.content4-d-ul{
	float: left;
	top: 13px;
	list-style: none;
}
.content4-d-ul .li1{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -113px -144px;
    margin-left: 15px;
}
.content4-d-ul .li2{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -59px -144px;
    margin-left: 15px;
}
.content4-d-ul .li3{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px -144px;
    margin-left: 15px;
}
.content4-d-ul .li4{
	float: left;
    width: 155px;
    height: 38px;
    background: url(../img/qsyw2.png) no-repeat 0px -282px;
}
.content4-d-ul .li4 strong{
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	margin-left: 15px;
}
.content4-d-ul .li4 span{
	display: none;
}



.content5-d{
	margin-top: 107px;
	width: 960px;
	height: 301px;
}
.content5-d-d1{
	position: absolute;
	float: left;
	z-index: 10;
}
.content5-d-ul{
	float: right;
	top: 13px;
	right: 0;
	list-style: none;
}
.content5-d-ul .li1{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -5px -188px;
    margin-left: 15px;
}
.content5-d-ul .li2{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -59px -188px;
    margin-left: 15px;
}
.content5-d-ul .li3{
	float: left;
    width: 40px;
    height: 40px;
    background: url(../img/qsyw2.png) no-repeat -113px -188px;
    margin-left: 15px;
}
.content5-d-ul .li4{
	float: left;
    width: 150px;
    height: 38px;
    background: url(../img/qsyw2.png) no-repeat 0px -237px;
}
.content5-d-ul .li4 strong{
	color: #fff;
	font-size: 22px;
	line-height: 38px;
	margin-left: 15px;
}
.content5-d-ul .li4 span{
	display: none;
}